body {
    background: linear-gradient(to right, rgb(111, 85, 230), rgb(126, 31, 89));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    width: 700px;
    border: none;
    padding: 70px;
    background: rgba(211, 211, 211, 0.5);
    border-radius: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: rgb(90, 90, 90);
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: #555;
    padding: 20px 25px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

button:hover {
    opacity: .7;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 15px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #fff;
}

a {
    float: right;
    background: rgb(58, 58, 58);
    padding: 20px 25px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

a:hover {
    opacity: .7;
}